//UTILS
@import './utils/variables';
@import './utils/visually-hidden';
//BASE
@import './base/common';
//components
@import './components/container';
@import './components/section';
@import './components/modal-btn';
@import './components/social-links';
@import './components/description';
@import './components/title';
@import './components/social-list';
@import './components/backdrop';
@import './components/modal';
//LAYOUT
@import './layout/header';
@import './layout/hero';
@import './layout/services';
@import './layout/advantages';
@import './layout/komanda';
@import './layout/clients';
@import './layout/gallery';
@import './layout/portfolio-menu';
@import './layout/footer';
