
.icon-antena::before {    
    background-image: url("../img/antenna.svg");
}
.icon-clock::before {    
    background-image: url("../img/clock.svg");
}
.icon-diagram::before {    
    background-image: url("../img/diagram.svg");
}
.icon-astonaut::before {    
    background-image: url("../img/astronaut.svg");
}