
// .footer-c {
//     padding-top: 60px;
//     padding-bottom: 60px;
//     background: #2F303A;
//     }
//     .footer-section {
//         display: flex;
//         align-items: baseline;
//     }
//     .studiologo-foot {
//     display: block;
//     font-family: Raleway;
//     font-weight: 700;
//     font-size: 26px;
//     line-height: 1.2;
//     letter-spacing: 0.03em;
//     margin-bottom: 20px;
//     color: #FFFFFF;
//     }
//     .studiologo-foot:visited {
//         color: #FFFFFF;
//     }
//     .adress li:not(:last-child) {
//         margin-bottom: 9px;
//     }
//     .contact-footer a {
//         font-style: normal;
//         font-size: 14px;
//         letter-spacing: 0.03em;
//         color: rgba(255, 255, 255, 0.6);
    
//     }
//     .adress li:first-child {
//         font-style: normal;
//         font-size: 14px;
//         letter-spacing: 0.03em;
//         color: #FFFFFF;
//     }
//     .footer-add-links {    
//         display: block;
//         align-items: center;
//             margin-left: 86px;  
//     }
//     .add-link {
//         font-family: inherit;
//         font-style: normal;
//         font-weight: 700;
//         line-height: 1.2;
//         letter-spacing: 0.03em;
//         text-transform: uppercase;
//         color: #FFFFFF;
//         margin-bottom: 20px;
//     }
//     /* footer subscrib */
//     .footer-subscrib {    
//         display: flex;
//         align-items: flex-end;    
//         margin-left: 93px;  
//         }
//     .mail-field-label {        
//         font-family: inherit;
//         font-weight: 700;
//         line-height: 1.2;
//         letter-spacing: 0.03em;
//         text-transform: uppercase;
//         color: #FFFFFF;
//     }
//     .mail-field > input {
//         width: 358px;  
//         margin-top: 20px;
//         background-color: inherit;
//         border: 1px solid rgba(255, 255, 255, 0.3);
//         border-radius: 4px;
//         padding: 15px;
//         font-size: 16px;
//         color: #ffffff;
//     }
//     .btn-subscrib {
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         max-height: 50px;
//         padding: 10px 28px 10px 28px;
//         background-color: var(--accent-color);
//         box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
//         border-radius: 4px;
//         font-weight: 700;
//         font-size: 16px;
//         line-height: 1.2;
//         letter-spacing: 0.06em;
//         color: #FFFFFF;
//         cursor: pointer;
//         transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//             &:hover,
//             &:focus {
//                 background-color: #188CE8;                ;
//             }     
//         }
//     .send-icon {
//         fill: #ffffff;
//         margin-left: 10px;
//     }
    