// /* portfolio */

// .menu-img {
//     display: flex;
//     flex-wrap: wrap;
//     padding: 0;
//     margin-top: -30px;
//     margin-left: -30px;
// }
// .menu-img li {    
//     flex-basis: calc(100% / 3 - 30px);
//     /* width: 370px; */
//     background-color:#FFFFFF;
//     margin-top: 30px;
//     margin-left: 30px;
// }
// .menu-box {
//     display: block;
//     max-width: 100%;
//     transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }
// .menu-box:hover,
// .menu-box:focus {
//     box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
//     }
// .box {
//     position: relative;
//     overflow: hidden;
// }
// .menu-box:hover .overlay, .menu-box:focus .overlay {
//     transform: translatey(0);
// }
// .overlay {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     transform: translatey(100%);
//     transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
//     background-color: var(--accent-color);
//     opacity: 0.9;
// }
// .text-techno {
//     color: #FFFFFF;
//     font-size: 18px;
//     line-height: 1.5;
//     padding: 63px 24px 63px 24px;
//     letter-spacing: 0.03em;
// }
// .box-kartinki {
//     position: relative;
// }
// .kartinki-img {
//     display: block;
// }
// .overlay-kartinki {
//     position: absolute;
//     bottom: 0;
//      left: 0;
//      width: 100%;
//      height: 70px;
//      transform: translatey(0);
//      transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
//      background-color: #2F303A;
//      opacity: 0.8;

// }
// .overlay-kartinki > p {
//     margin: 27px 0px;
//     font-style: inherit;
//     font-size: 14px;
//     font-weight: 700;
//     letter-spacing: 0.03em;
//     text-align: center;
//     text-transform: uppercase;
//     color: #FFFFFF;
// }
// .menu-img-name {
//     padding-top: 20px;
//     padding-right: 24px;
//     padding-bottom: 20px;
//     padding-left: 24px;
//     border-right: 1px solid #EEEEEE;
//     border-bottom: 1px solid #EEEEEE;
//     border-left: 1px solid #EEEEEE;
// }
// .menu-img h3 {
//     font-weight: 700;
//     font-size: 18px;
//     line-height: 2;
//     letter-spacing: 0.06em;  
// }
// .menu-img-name p {
// font-size: 16px;
// line-height: 1.9;
// letter-spacing: 0.03em;
// color: #757575;
// }