
// .baner {    
// max-width: 1600px;
// height: 600px;
// margin: auto;
// padding-top: 200px;
// padding-bottom: 200px;
// text-align: center;
// background-color: #2F303A;
// background-image: linear-gradient( to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4) ),
// url("../img/baner_bg.jpg");
// background-position: center;
// background-repeat: no-repeat;
// background-size: cover;
// }

// .zakaz {
// padding: 10px 32px 10px 32px;
// background: var(--accent-color);
// box-shadow: 0 cpx 4px 4px rgba(0, 0, 0, 0.15);
// border-radius: 4px;
// font-weight: 700;
// font-size: 16px;
// line-height: 1.9;
// letter-spacing: 0.06em;
// color: #FFFFFF;
// cursor: pointer;
// transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }
// .zakaz:hover {
//  background-color: #188CE8;
// }