// .social-link {
//     width: 100%;
//     height: 100%;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     border-radius: 50%;
//     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
//     fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }
// .social-team .social-link {
//     fill: #AFB1B8;
// }
// /* social links for footer */
// .social-footer .social-link {
//     fill: #ffffff;
//     background-color: rgba(255, 255, 255, 0.1);
// }
// .social-link:hover,
// .social-link:focus {
//     background-color: var(--accent-color);
//     fill: #ffffff;
// }