body {    
font-family: var(--main-font);
color: var(--primary-color);
}
* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    &:active {
    color: var(--accent-color);
    }
    &:visited {    
    color: var(--primary-color);
    }
}
ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}